/* -----ALL----- */

html,
body {
    font-size: 100%;
    background-image: url('../assets/clouds.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: 'Dancing Script', cursive;
}


/* -----UNIVERSAL----- */

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.blur {
    opacity: 0.6;
}


/* -----HEADER MAIN----- */

.main-header {
    text-align: center;
    font-size: 7vw;
    padding: 5% 5% 0 5%;
}

.author {
    text-align: right;
    font-size: 3vw;
    padding: 5px 5% 0 0;
}

.main-header,
.author {
    color: rgb(0, 53, 105);
    text-shadow: 2px 2px 2px rgba(131, 72, 187, 0.5), -2px -2px 2px rgba(131, 72, 187, 0.5), -2px 2px 2px rgba(131, 72, 187, 0.5), 2px -2px 2px rgba(131, 72, 187, 0.5), 0 0 2px rgba(131, 72, 187, 0.5), 2px 0 2px rgba(131, 72, 187, 0.5), 0 2px 2px rgba(131, 72, 187, 0.5), -2px 0 2px rgba(131, 72, 187, 0.5), 0 -2px 2px rgba(131, 72, 187, 0.5), 5px 5px 4px black;
}


/* -----GRID----- */

.grid-container {
    display: grid;
    grid-template-areas: "header header header""grid-l grid-mid grid-r""footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

.grid-header {
    grid-area: header;
}

.grid-l {
    grid-area: grid-l;
}

.grid-mid {
    grid-area: grid-mid;
}

.grid-r {
    grid-area: grid-r;
}

.grid-footer {
    grid-area: footer;
}


/* -----MODAL GRID----- */

.modal-container {
    display: grid;
    grid-template-areas: "header header header""grid-l grid-mid grid-r""footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    display: none;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
}


/* -----MODAL HEADER----- */

.modal-header {
    grid-area: modal-header;
    text-align: center;
    font-size: 5vw;
    font-weight: normal;
    padding-bottom: 5px;
    text-align: center;
    text-shadow: 2px 2px 2px rgb(255, 196, 0), -2px -2px 2px rgb(255, 196, 0), -2px 2px 2px rgb(255, 196, 0), 2px -2px rgb(255, 196, 0), 0 0 2px rgb(255, 196, 0), 2px 0 2px rgb(255, 196, 0), 0 2px 2px rgb(255, 196, 0), -2px 0 2px rgb(255, 196, 0), 0 -2px 2px rgb(255, 196, 0), 5px 5px 5px black;
}

/* -----MODAL BUTTON----- */

.modal-btn {
    width: 50vw;
    height: 25vh;
    font-size: 6vw;
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;
    font-family: 'Dancing Script', cursive;
    font-weight: 900;
    background: #575757;
    background: -moz-radial-gradient(center, #575757 0%, #ffffff 0%, #575757 100%);
    background: -webkit-radial-gradient(center, #575757 0%, #ffffff 0%, #575757 100%);
    background: radial-gradient(ellipse at center, #575757 0%, #ffffff 0%, #575757 100%);
    color: rgb(0, 53, 105);
    text-shadow: 2px 2px 2px rgb(255, 196, 0), -2px -2px 2px rgb(255, 196, 0), -2px 2px 2px rgb(255, 196, 0), 2px -2px rgb(255, 196, 0), 0 0 2px rgb(255, 196, 0), 2px 0 2px rgb(255, 196, 0), 0 2px 2px rgb(255, 196, 0), -2px 0 2px rgb(255, 196, 0), 0 -2px 2px rgb(255, 196, 0), 5px 5px 5px black;
}

.modal-btn:hover {
    color: rgb(0, 103, 206);
    cursor: pointer;
    text-decoration: none;
}

.modal-btn:focus {
    outline: none;
}


/* -----MODAL CONTENT----- */

.modal-content {
    margin-bottom: 10%;
    padding: 20px;
    border: 5px groove rgb(255, 196, 0);
    width: 80%;
    height: 85%;
    border-radius: 20px;
    text-shadow: 5px 5px 5px black;
    color: rgb(0, 53, 105);
    background-image: url("../assets/clouds3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* -----The 3 Headings----- */

.threeheaders {
    text-align: center;
    font-size: 3vw;
    padding: 10% 0;
    text-shadow: 2px 2px 2px rgb(255, 196, 0), -2px -2px 2px rgb(255, 196, 0), -2px 2px 2px rgb(255, 196, 0), 2px -2px rgb(255, 196, 0), 0 0 2px rgb(255, 196, 0), 2px 0 2px rgb(255, 196, 0), 0 2px 2px rgb(255, 196, 0), -2px 0 2px rgb(255, 196, 0), 0 -2px 2px rgb(255, 196, 0), 5px 5px 5px black;
}


/* -----SELECTION DROPDOWN----- */

.custom-select {
    width: 100%;
    overflow: auto;
}

.dropdown {
    width: 100%;
    background-color: rgb(0, 53, 105);
    color: white;
    text-shadow: 2px 2px 2px rgba(131, 72, 187, 0.5), -2px -2px 2px rgba(131, 72, 187, 0.5), -2px 2px 2px rgba(131, 72, 187, 0.5), 2px -2px 2px rgba(131, 72, 187, 0.5), 0 0 2px rgba(131, 72, 187, 0.5), 2px 0 2px rgba(131, 72, 187, 0.5), 0 2px 2px rgba(131, 72, 187, 0.5), -2px 0 2px rgba(131, 72, 187, 0.5), 0 -2px 2px rgba(131, 72, 187, 0.5), 5px 5px 4px black;
    border-radius: 8px;
    padding: 5%;
    font-size: 2vw;
    opacity: 0.6;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    grid-area: modal-l;
}


/* -----HZ MID SECTION----- */

.hz,
.info {
    text-align: center;
    opacity: 0.7;
    font-size: 3vw;
    color: rgb(0, 53, 105);
    text-shadow: 2px 2px 2px rgba(131, 72, 187, 0.5), -2px -2px 2px rgba(131, 72, 187, 0.5), -2px 2px 2px rgba(131, 72, 187, 0.5), 2px -2px 2px rgba(131, 72, 187, 0.5), 0 0 2px rgba(131, 72, 187, 0.5), 2px 0 2px rgba(131, 72, 187, 0.5), 0 2px 2px rgba(131, 72, 187, 0.5), -2px 0 2px rgba(131, 72, 187, 0.5), 0 -2px 2px rgba(131, 72, 187, 0.5), 5px 5px 4px black;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.hz {
    grid-area: modal-mid;
}

.info {
    font-size: 120%;
    line-height: 1.5;
    overflow: auto;
    font-family: 'Raleway', sans-serif;
    grid-area: modal-r;
}

.player {
    display: none;
    position: relative;
    width: 33%;
    top: 70%;
    left: 33%;
    padding: 10% 0;
    outline: none;
    position: fixed;
    grid-area: modal-footer;
}


/* -----FOOTER----- */

.social {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-links {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 5%;
}

.icons {
    padding: 3%;
    color: rgb(0, 53, 105);
    text-shadow: 2px 2px 2px rgba(131, 72, 187, 0.5), -2px -2px 2px rgba(131, 72, 187, 0.5), -2px 2px 2px rgba(131, 72, 187, 0.5), 2px -2px 2px rgba(131, 72, 187, 0.5), 0 0 2px rgba(131, 72, 187, 0.5), 2px 0 2px rgba(131, 72, 187, 0.5), 0 2px 2px rgba(131, 72, 187, 0.5), -2px 0 2px rgba(131, 72, 187, 0.5), 0 -2px 2px rgba(131, 72, 187, 0.5), 5px 5px 4px black;
    opacity: 0.8;
}

.icons:hover {
    opacity: 1;
}

@media screen and (max-width: 850px) {
    .modal-container {
        display: grid;
        grid-template-areas: "modal-header" "modal-l" "modal-mid" "modal-r""modal-footer";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr 2fr 1fr;
        display: none;
        position: fixed;
        top: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
    }
    .audio-container, .player {

        position: relative;
        bottom: 110%;
    }
    
  }